body {
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scorecards-container {
  display: flex;
  justify-content: space-evenly;
}

.scorecard {
  width: 300px;
  height: 150px;
  border: 2px solid #000;
  background: #eee;
}

.scorecard-title {
  padding-left: 5px;
  margin-top: 5px;
  font-size: 1em;
  text-align: left;
}

.scorecard-value {
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

.scorecard-date {
  font-size: 0.8em;
  text-align: center;
}
